<div class="tituloBanner">
    <div class="col-lg-12 mx-auto">
      <div class="site-heading">
        <h1>Alergias frecuentes</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="nav nav-tabs nav-pills">
            <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLink]="['/alergiafrecuente/list']"
                  routerLinkActive="active"
                  >Listado de alergias</a
                >
              </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/alergiafrecuente/registrar']"
              routerLinkActive="active"
              >Registrar alergia</a
            >
          </li>
        </ul>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


