<div class="container">
    <!-- <hello name="{{ name }}"></hello> -->
    <div id="stepper1" class="bs-stepper">
      <div class="bs-stepper-header">
        <div class="step" data-target="#test-l-1">
          <button class="step-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Información Personal</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-2">
          <button class="step-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Alcohol/Tabaco</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-3">
          <button class="step-trigger">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Actividades</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-4">
          <button class="step-trigger">
            <span class="bs-stepper-circle">4</span>
            <span class="bs-stepper-label">Alergias</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-5">
          <button class="step-trigger">
            <span class="bs-stepper-circle">5</span>
            <span class="bs-stepper-label">Enfermedades</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-6">
          <button class="step-trigger">
            <span class="bs-stepper-circle">6</span>
            <span class="bs-stepper-label">Cirugias</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-7">
          <button class="step-trigger">
            <span class="bs-stepper-circle">7</span>
            <span class="bs-stepper-label">Medicamentos</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content">
        <form (ngSubmit)="onSubmit($event)">
          <div id="test-l-1" class="content">
            <div class=row>
                <div class="form-group col-md-6 form-group">
                    <label for="Identificación">Identificación</label>
                    <input type="text" class="form-control" id="Identificación" placeholder="Identificación" />
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" id="Nombre" placeholder="Nombre" />
                    <label for="PrimerApellido">Primer Apellido</label>
                    <input type="text" class="form-control" id="PrimerApellido" placeholder="Primer Apellido" />
                    <label for="SegundoApellido">Segundo Apellido</label>
                    <input type="text" class="form-control" id="SegundoApellido" placeholder="Segundo Apellido" />
                    <label for="roles">Género</label>
                    <select class="form-control" name="sexo" ngModel required>
                      <option>Masculino</option>
                      <option>Femenino</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                      <label for="fechaNacimiento">Fecha de Nacimiento</label>
                      <input type="date" class="form-control" id="fechaNacimiento" placeholder="Enter email" />
                      <label for="roles">Tipo de Sangre</label>
                      <select class="form-control" name="tipoSangre" ngModel required>
                      <option>O negativo</option>
                      <option>O positivo</option>
                      <option>A negativo</option>
                      <option>A positivo</option>
                      <option>B negativo</option>
                      <option>B positivo</option>
                      <option>AB negativo</option>
                      <option>AB positivo</option>
                    </select>
                      <label for="numeroTelefono">Número de teléfono<table></table></label>
                      <input type="text" class="form-control" id="numeroTelefono" placeholder="Número de teléfono" />
                      <label for="contactoEmergencia">Contacto de Emergencia<table></table></label>
                      <input type="text" class="form-control" id="contactoEmergencia" placeholder="Contacto de Emergencia" />
                      <label for="lugarResidencia">Lugar de Residencia</label>
                      <textarea class="form-control" id="lugarResidencia"></textarea>
                    </div>
                  <button type="button" (click)="next()" class="btn btn-primary mx-auto mt-4">Siguiente</button>
                </div>
            </div>

          <div id="test-l-2" class="content">
            <div class="form-group custom-control custom-switch" >
                    <input type="checkbox" class="custom-control-input" id="customSwitch1"
                      (change)="changeStatusFuma($event)">
                    <label class="custom-control-label" for="customSwitch1">Fuma</label>
                    <br>
                    <label for="historialFumando">Historial de Fumado</label>
                    <input type="password" class="form-control" id="historialFumando" placeholder="Historial de Fumado" [disabled]="fuma"/>
                    <label for="cantidaCigarros">Cantidad de cigarros que fuma al día</label>
                    <input type="text" class="form-control" id="cantidaCigarros" placeholder="Cantidad de cigarros que fuma al día" [disabled]="fuma"/>
                    <label for="edadComenzoFumar">Edad a la que comenzo a fumar</label>
                    <input type="text" class="form-control" id="edadComenzoFumar" placeholder="Edad a la que comenzo a fumar" [disabled]="fuma"/>
                    <label for="observaciones">Observaciones de Fumado</label>
                    <textarea class="form-control" [disabled]="fuma" id="observacionesFumado"></textarea>
                  </div>
                  <hr>
                  <div class="form-group custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch2"
                      (change)="changeStatusAlcohol($event)">
                    <label class="custom-control-label" for="customSwitch2">Consume alcohol</label>
                    <br>
                    <label for="historialFumando">Historial de Alcohol</label>
                    <input type="text" class="form-control" id="historialAlcohol" placeholder="Historial de Alcohol" [disabled]="toma"/>
                    <label for="cantidaToma">Cantidad de alcohol que toma al día</label>
                    <input type="text" class="form-control" id="cantidaToma" placeholder="Cantidad de alcohol que toma al día" [disabled]="toma"/>
                    <label for="edadComenzoTomar">Edad a la que comenzo a tomar</label>
                    <input type="text" class="form-control" id="edadComenzoTomar" placeholder="Edad a la que comenzo a tomar" [disabled]="toma"/>
                    <label for="tipoAlcohol">Tipo de licor que mas consume</label>
                    <textarea class="form-control" [disabled]="toma" id="tipoAlcohol"></textarea>
                    <label for="observacionesAlchohol">Observaciones consumo de licor</label>
                    <textarea class="form-control" [disabled]="toma" id="observacionesAlchohol"></textarea>
            </div>
            <button type="button" (click)="next()" class="btn btn-primary mx-auto ">Siguiente</button>
          </div>
          <div id="test-l-3" class="content">
                  <label for="arlegias_id">Lista de Actividades</label>
                  <select multiple [(ngModel)]="selectedActividades" class="form-control" name="actividades_id">
                    <option *ngFor="let a of actividadesFrecuentes?.actividadFrecuente" [value]="a.id">
                      {{a.nombre}}</option>
                  </select>
                  <hr>
                  <label>Otras</label>
                  <div class="row">
                  <div class ="form-group col-md-5">
                    <form id="otrasActividades" #otrasForm="ngForm" (ngSubmit)=" addArrayActividades($event)" >
                    <label for="nombreActividad">Nombre de la actividad</label>
                    <input type="text" class="form-control" id="nombreActividad" placeholder="Nombre de la Actividad" [disabled]=""/>
                    <label for="tiempo_al_dia">Cantidad de horas al día que hace la actividad</label>
                    <input type="text" class="form-control" id="tiempo_al_dia" placeholder="Cantidad de horas al día que hace la actividad"  [disabled]=""/>
                    <label for="veces_por_semana">Cantidad de veces por semana por semana</label>
                    <input type="text" class="form-control" id="veces_por_semana" placeholder="Cantidad de horas al día que hace la actividad" [disabled]=""/>
                    <button type="submit" class="btn btn-primary mt-3">Agregar</button>
                  </form>
                  </div>
                  <div class="form-group col-md-6" >
                    <div class="table-responsive">
                      <table class="table table-hover text-center" *ngIf="actividades?.length">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Cantidad de horas al día</th>
                            <th>Cantidad de veces por semana</th>
                            <th>Opciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let doc of actividades">
                            <td>{{ doc.nombre }}</td>
                            <td>{{ doc.tiempo_al_dia }}</td>
                            <td>{{ doc.veces_por_semana }}</td>
                            <td><button class="btn-xs btn btn-primary" type="button" (click)="eliminarActividad(doc)">Eliminar</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <hr>
                <button type="button" (click)="next()" class="btn btn-primary mx-auto mt-4">Siguiente</button>
          </div>
          <div id="test-l-4" class="content">
              <label for="arlegias_id">Lista de Alergias</label>
                  <select multiple [(ngModel)]="selectedAlergias" class="form-control" name="arlegias_id">
                    <option *ngFor="let a of alergiasFrec?.alergiafrecuente" [value]="a.id">
                      {{a.nombre}}</option>
                  </select>
                  <label>Otras</label>
                  <div class="row">
                  <div class ="form-group col-md-5">
                    <form id="otrasAlerigas" #otrasForm="ngForm" (ngSubmit)=" addArrayAlergias($event); otrasForm.reset()" >
                    <label for="nombreActividad">Nombre de la Alergia</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre de la Actividad" [disabled]=""/>
                    <label for="categoria">Categoría</label>
                    <select class="form-control" id="categoria" required>
                      <option>Alergia Cutánea</option>
                      <option>Respiratorias</option>
                      <option>Alimentos</option>
                      <option>Medicamentos</option>
                    </select>
                    <label for="reaccion">Reacción</label>
                    <textarea class="form-control" [disabled]="" id="reaccion" placeholder="Reacción"></textarea>
                    <label for="observacionesAlergia">Observaciones de la Alergia</label>
                    <textarea class="form-control" [disabled]="" id="observacionesAlergia" placeholder="Observaciones"></textarea>
                    <button type="submit" class="btn btn-primary mt-3">Agregar</button>
                  </form>
                  </div>
                  <div class="form-group col-md-6" >
                    <div class="table-responsive">
                      <table class="table table-hover text-center" *ngIf="alergias?.length">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Categoría</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let doc of alergias">
                            <td>{{ doc.nombre }}</td>
                            <td>{{ doc.categoria }}</td>
                            <td><button class="btn-xs btn btn-primary" type="button" (click)="eliminarAlergia(doc)">Eliminar</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
          </div>
          <div id="test-l-5" class="content text-center">
            <button type="submit" class="btn btn-primary mt-5">Submit</button>
          </div>
          <div id="test-l-6" class="content text-center">
            <button type="submit" class="btn btn-primary mt-5">Submit</button>
          </div>
          <div id="test-l-7" class="content text-center">
            <button type="submit" class="btn btn-primary mt-5">Submit</button>
          </div>
          <div id="test-l-8" class="content text-center">
            <button type="submit" class="btn btn-primary mt-5">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
