<div class="container">
  <!-- <hello name="{{ name }}"></hello> -->
  <div id="stepper1" class="bs-stepper">
    <div class="bs-stepper-header">
      <div class="step" data-target="#test-l-1">
        <button class="step-trigger">
          <span class="bs-stepper-circle">1</span>
          <span class="bs-stepper-label">Información Personal</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-2">
        <button class="step-trigger">
          <span class="bs-stepper-circle">2</span>
          <span class="bs-stepper-label">Alcohol/Tabaco</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-3">
        <button class="step-trigger">
          <span class="bs-stepper-circle">3</span>
          <span class="bs-stepper-label">Actividades</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-4">
        <button class="step-trigger">
          <span class="bs-stepper-circle">4</span>
          <span class="bs-stepper-label">Alergias</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-5">
        <button class="step-trigger">
          <span class="bs-stepper-circle">5</span>
          <span class="bs-stepper-label">Enfermedades</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-6">
        <button class="step-trigger">
          <span class="bs-stepper-circle">6</span>
          <span class="bs-stepper-label">Cirugias</span>
        </button>
      </div>
      <div class="line"></div>
      <div class="step" data-target="#test-l-7">
        <button class="step-trigger">
          <span class="bs-stepper-circle">7</span>
          <span class="bs-stepper-label">Medicamentos</span>
        </button>
      </div>
    </div>
    <div class="bs-stepper-content">
      <form #form="ngForm" (ngSubmit)="onSubmit(form.value); form.reset()" >
        <div id="test-l-1" class="content">
          <div class=row>
              <div class="form-group col-md-6 form-group">
                  <label for="identificación">Identificación</label>
                  <input type="text" class="form-control" name="identificacion" placeholder="Identificación" ngModel/>
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" name="nombre" placeholder="Nombre" />
                  <label for="PrimerApellido">Primer Apellido</label>
                  <input type="text" class="form-control" name="primer_apellido" ngModel placeholder="Primer Apellido" />
                  <label for="SegundoApellido">Segundo Apellido</label>
                  <input type="text" class="form-control" name="segundo_apellido" ngModel placeholder="Segundo Apellido" />
                  <label for="roles">Género</label>
                  <select class="form-control" name="sexo" ngModel required>
                    <option>Masculino</option>
                    <option>Femenino</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    <input type="date" class="form-control" name="fecha_nacimiento" ngModel placeholder="Enter email" />
                    <label for="tipo_sangre">Tipo de Sangre</label>
                    <select class="form-control" name="tipo_sangre" ngModel required>
                    <option>O negativo</option>
                    <option>O positivo</option>
                    <option>A negativo</option>
                    <option>A positivo</option>
                    <option>B negativo</option>
                    <option>B positivo</option>
                    <option>AB negativo</option>
                    <option>AB positivo</option>
                  </select>
                    <label for="numeroTelefono">Número de teléfono<table></table></label>
                    <input type="text" class="form-control" name="numero_telefono" ngModel placeholder="Número de teléfono" />
                    <label for="contactoEmergencia">Contacto de Emergencia<table></table></label>
                    <input type="text" class="form-control" name="contacto_emergencia" ngModel placeholder="Contacto de Emergencia" />
                    <label for="lugarResidencia">Lugar de Residencia</label>
                    <textarea class="form-control" ngModel name="lugar_Residencia"></textarea>
                  </div>
                <button type="button" (click)="next()" class="btn btn-primary mx-auto mt-4">Siguiente</button>
              </div>
          </div>

        <div id="test-l-2" class="content">
          <div class="form-group custom-control custom-switch" >
                  <input type="checkbox" class="custom-control-input" id="customSwitch1"
                    (change)="changeStatusFuma($event)">
                  <label class="custom-control-label"  for="customSwitch1">Fuma</label>
                  <br>
                  <label for="historial_fumado">Historial de Fumado</label>
                  <input type="text" class="form-control" ngModel name="historial_fumado" placeholder="Historial de Fumado" [disabled]="fuma"/>
                  <label for="cantidad_cigarros_dia">Cantidad de cigarros que fuma al día</label>
                  <input type="text" class="form-control" name="cantidad_cigarros_dia" ngModel placeholder="Cantidad de cigarros que fuma al día" [disabled]="fuma"/>
                  <label for="edad_comenzo_fumar">Edad a la que comenzo a fumar</label>
                  <input type="text" class="form-control" name="edad_comenzo_fumar" ngModel placeholder="Edad a la que comenzo a fumar" [disabled]="fuma"/>
                  <label for="observaciones_fumado">Observaciones de Fumado</label>
                  <textarea class="form-control" [disabled]="fuma" name="observaciones_fumado" ngModel></textarea>
                </div>
                <hr>
                <div class="form-group custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2"
                    (change)="changeStatusAlcohol($event)">
                  <label class="custom-control-label" for="customSwitch2">Consume alcohol</label>
                  <br>
                  <label for="historial_alcohol">Historial de Alcohol</label>
                  <input type="text" class="form-control" name="historial_alcohol" ngModel placeholder="Historial de Alcohol" [disabled]="toma"/>
                  <label for="frecuencia_alcohol">Cantidad de alcohol que toma al día</label>
                  <input type="text" class="form-control" name="frecuencia_alcohol" ngModel placeholder="Cantidad de alcohol que toma al día" [disabled]="toma"/>
                  <label for="edad_comenzo_tomar">Edad a la que comenzo a tomar</label>
                  <input type="text" class="form-control" name="edad_comenzo_tomar"  ngModel placeholder="Edad a la que comenzo a tomar" [disabled]="toma"/>
                  <label for="toma_usualmente">Tipo de licor que mas consume</label>
                  <textarea class="form-control" [disabled]="toma" name="toma_usualmente" ngModel></textarea>
                  <label for="observaciones_alcohol">Observaciones consumo de licor</label>
                  <textarea class="form-control" [disabled]="toma"  name="observaciones_alcohol" ngModel></textarea>
          </div>
          <button type="button" (click)="next()" class="btn btn-primary mx-auto ">Siguiente</button>
        </div>
        <div id="test-l-3" class="content">
                <label for="actividades_id">Lista de Actividades</label>
                <select multiple [(ngModel)]="selectedActividades" ngModel class="form-control" name=" actividades_fisicas_frecuentes_id">
                  <option *ngFor="let a of actividadesFrecuentes?.actividadFrecuente" [value]="a.id">
                    {{a.nombre}}</option>
                </select>
                <hr>
                <label>Otras</label>
                <div class="row">
                <div class ="form-group col-md-5">
                  <form id="otrasActividadesForm" #otrasActividaesForm="ngForm" (ngSubmit)="addArrayActividades(otrasActividaesForm.value)" >
                  <label for="nombreActividad">Nombre de la actividad</label>
                  <input type="text" class="form-control" name="nombre" ngModel  placeholder="Nombre de la Actividad" [disabled]=""/>
                  <label for="tiempo_al_dia">Cantidad de horas al día que hace la actividad</label>
                  <input type="text" class="form-control" name="tiempo_al_dia" ngModel  placeholder="Cantidad de horas al día que hace la actividad"  [disabled]=""/>
                  <label for="veces_por_semana">Cantidad de veces por semana por semana</label>
                  <input type="text" class="form-control" name="veces_por_semana" ngModel  placeholder="Cantidad de horas al día que hace la actividad" [disabled]=""/>
                  <button type="submit" class="btn btn-primary mt-3">Agregar</button>
                </form>
                </div>
                <div class="form-group col-md-6" >
                  <div class="table-responsive">
                    <table class="table table-hover text-center" *ngIf="actividades?.length">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Cantidad de horas al día</th>
                          <th>Cantidad de veces por semana</th>
                          <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let doc of actividades">
                          <td>{{ doc.nombre}}</td>
                          <td>{{ doc.tiempo_al_dia }}</td>
                          <td>{{ doc.veces_por_semana }}</td>
                          <td><button class="btn-xs btn btn-primary" type="button" (click)="eliminarActividad(doc)">Eliminar</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <hr>
              <button type="button" (click)="next()" class="btn btn-primary mx-auto mt-4">Siguiente</button>
        </div>
        <div id="test-l-4" class="content">
            <label for="arlegias_id">Lista de Alergias</label>
                <select multiple [(ngModel)]="selectedAlergias" class="form-control" name="arlegias_id">
                  <option *ngFor="let a of alergiasFrec?.alergiafrecuente" [value]="a.id">
                    {{a.nombre}}</option>
                </select>
                <label>Otras</label>
                <div class="row">
                <div class ="form-group col-md-5">
                  <form id="otrasAlerigasForm" #otrasAlergiasForm="ngForm" (ngSubmit)="addArrayAlergias(otrasAlergiasForm.value)" >
                  <label for="nombre">Nombre de la Alergia</label>
                  <input type="text" class="form-control" name="nombre" ngModel placeholder="Nombre de la Alergia" [disabled]=""/>
                  <label for="categoria">Categoría</label>
                  <select class="form-control" name="categoria" ngModel  required>
                    <option>Alergia Cutánea</option>
                    <option>Respiratorias</option>
                    <option>Alimentos</option>
                    <option>Medicamentos</option>
                  </select>
                  <label for="reaccion">Reacción</label>
                  <textarea class="form-control" [disabled]="" name="reaccion"  ngModel placeholder="Reacción"></textarea>
                  <label for="observaciones">Observaciones de la Alergia</label>
                  <textarea class="form-control" [disabled]="" name="observaciones" ngModel placeholder="Observaciones"></textarea>
                  <button type="submit" class="btn btn-primary mt-3">Agregar</button>
                </form>
                </div>
                <div class="form-group col-md-6" >
                  <div class="table-responsive">
                    <table class="table table-hover text-center" *ngIf="alergias?.length">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Categoría</th>
                          <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let doc of alergias">
                          <td>{{ doc.nombre }}</td>
                          <td>{{ doc.categoria }}</td>
                          <td><button class="btn-xs btn btn-primary" type="button" (click)="eliminarAlergia(doc)">Eliminar</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
        <div id="test-l-5" class="content text-center">
          <label for="arlegias_id">Lista de Enfermedades</label>
                <select multiple [(ngModel)]="selectedAlergias" class="form-control" name="arlegias_id">
                  <option *ngFor="let a of alergiasFrec?.alergiafrecuente" [value]="a.id">
                    {{a.nombre}}</option>
                </select>
                <label>Otras</label>
                <div class="row">
                <div class ="form-group col-md-5">
                  <form id="otrasAlerigas" #otrasForm="ngForm" (ngSubmit)="addArrayAlergias($event); otrasForm.reset()" >
                  <label for="nombre">Nombre de la Alergia</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Nombre de la Alergia" [disabled]=""/>
                  <label for="categoria">Categoría</label>
                  <select class="form-control" id="categoria" required>
                    <option>Alergia Cutánea</option>
                    <option>Respiratorias</option>
                    <option>Alimentos</option>
                    <option>Medicamentos</option>
                  </select>
                  <label for="reaccion">Reacción</label>
                  <textarea class="form-control" [disabled]="" id="reaccion" placeholder="Reacción"></textarea>
                  <label for="observacionesAlergia">Observaciones de la Alergia</label>
                  <textarea class="form-control" [disabled]="" id="observacionesAlergia" placeholder="Observaciones"></textarea>
                  <button type="submit" class="btn btn-primary mt-3">Agregar</button>
                </form>
                </div>
                <div class="form-group col-md-6" >
                  <div class="table-responsive">
                    <table class="table table-hover text-center" *ngIf="alergias?.length">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Categoría</th>
                          <th>Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let doc of alergias">
                          <td>{{ doc.nombre }}</td>
                          <td>{{ doc.categoria }}</td>
                          <td><button class="btn-xs btn btn-primary" type="button" (click)="eliminarAlergia(doc)">Eliminar</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
        <div id="test-l-6" class="content text-center">
          <button type="submit" class="btn btn-primary mt-5">Submit</button>
        </div>
        <div id="test-l-7" class="content text-center">
          <button type="submit" class="btn btn-primary mt-5">Submit</button>
        </div>
        <div id="test-l-8" class="content text-center">
          <button type="submit" class="btn btn-primary mt-5">Submit</button>
        </div>
        {{ form.value | json }}
      </form>
    </div>
  </div>
</div>
