<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alg of datos?.alergiafrecuente">
          <td>{{ alg.nombre}}</td>
          <td>{{ alg.categoria }}</td>
          <td><img [src]="'/assets/img/' + alg.imagen" width="200px" height="100"></td>
          <td>
            <!-- <a [routerLink]="['../videojuego/update/', vj.id]">Editar</a> -->
            <!--    Es necesario retroceder un nivel
               Porque esta dentro de un componente que contiene rutas hijas -->
            <button class="btn btn-info" (click)="linkEditar(alg)">
              Eliminar
            </button>
          </td>


        </tr>
      </tbody>
    </table>
  </div>
</div>
