<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form #form="ngForm"(ngSubmit)="onSubmit(form.value)">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Nombre "
              name="nombre"
              ngModel
              required
            />
          </div>
          <div class="form-group">
            <label for="categoria">Categoría</label>
            <select class="form-control" name="categoria" ngModel required>
              <option>Alergia Cutánea</option>
              <option>Respiratorias</option>
              <option>Alimentos</option>
              <option>Medicamentos</option>
            </select>
          </div>
          <div class="form-group">
              <label for="imagen">Imagen</label>
              <input
                type="file"
                class="form-control"
                name="imagen"
                ngModel
                required


              />
          </div>

          <div class="align-center">
            <button type="submit" class="btn btn-primary" id="registeruser">
              Registrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


