<!-- Menú -->
<nav class="navbar navbar-expand-lg" id="mainNav">
  <div class="container" style="margin-top: -400px">
    <a class="navbar-brand" style="color: black" [routerLink]="['expediente']" routerLinkActive="active"
      *ngIf="currentUser?.user">Expedientes</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" style="color: black">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home/acercade']" routerLinkActive="active" style="color: black">Acerca de</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: black" *ngIf="currentUser?.user.role_id == 1">
            Mantenimientos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['doctor/list']" routerLinkActive="active" style="color: black"
              *ngIf="currentUser?.user.role_id== 1">Registro de medicos</a>
            <a class="dropdown-item" [routerLink]="['listaEnfermedades']" routerLinkActive="active" style="color: black"
              *ngIf="currentUser?.user.role_id != 2">Lista de Enfermedades</a>
            <a class="dropdown-item" [routerLink]="['listaActividadesFisicas']" routerLinkActive="active"
              style="color: black" *ngIf="currentUser?.user.role_id != 2">Lista de Actividades Físicas</a>
            <a class="dropdown-item" [routerLink]="['alergiafrecuente/list']" routerLinkActive="active"
              style="color: black" *ngIf="currentUser?.user.role_id == 1">Alergias</a>

          </div>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['perfil']" routerLinkActive="active" style="color: black"
            *ngIf="currentUser?.user">Expediente</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['perfil']" routerLinkActive="active" style="color: black"
            *ngIf="currentUser?.user">Actualizar Perfil</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="form-group mb-2">
          <input class="form-control form-control-sm" type="text" readonly name="nombreUsuario" aria-label="Usuario"
            [(ngModel)]="currentUser?.user.name" />
        </div>
        <a class="btn btn-dark btn-sm" [routerLink]="['usuario/login']" routerLinkActive="active"
          *ngIf="currentUser == null">Login</a>
        <a class="btn btn-light btn-sm" (click)="logout()" routerLinkActive="active"
          *ngIf="currentUser?.user">Logout</a>
      </form>
    </div>
  </div>
</nav>
