<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Identificación</th>
          <th>Nombre</th>
          <th>Primer apellido</th>
          <th>Segundo apellido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of datos?.user">
          <td >{{ user.Nombre}}</td>
          <td>
            <span
              class="badge badge-info"
              *ngFor="let exp of user?.Expedientes"
            >
              {{ exp.Identificacion }}
            </span>
          </td>
          <td>
            <span
              class="badge badge-info"
              *ngFor="let exp of user?.Expedientes"
            >
              {{ exp.Identificacion }}
            </span>
          </td>
          <td>
            <span
              class="badge badge-info"
              *ngFor="let exp of user?.Expedientes"
            >
              {{ exp.nombre }}
            </span>
          </td>
          <td>
            <span
              class="badge badge-info"
              *ngFor="let exp of user?.Expedientes"
            >
              {{ exp.primer_apellido }}
            </span>
          </td>
          <td>
            <span
              class="badge badge-info"
              *ngFor="let exp of user?.Expedientes"
            >
              {{ exp.segundo_apellido }}
            </span>
          </td>
          <td>
            <!-- <a [routerLink]="['../videojuego/update/', vj.id]">Editar</a> -->
            <!--    Es necesario retroceder un nivel
               Porque esta dentro de un componente que contiene rutas hijas -->
            <button class="btn btn-info">
              Editar
            </button>
          </td>


        </tr>
      </tbody>
    </table>
  </div>
</div>

