<div class="container">
    <div class="row">
          <div class="card mb-1 col-sm-4  d-flex align-items-stretch" *ngFor="let user of expedientes">
                <div class="card-body">
                  <div class="card-header text-center">
                    <img src="../../../assets/img/registro.png" class="card-img" alt="..." style="width: 100px; height: 100px;">
                    <h5 class="card-title">Cédula: {{user.identificacion}}</h5>
                  </div>
                  <p class="card-text">
                   <label class="font-weight-bold">Nombre:</label>
                   {{ user.nombre}} {{ user.primer_apellido}} {{ user.segundo_apellido}}
                   <br>
                   <label class="font-weight-bold">Género:</label>
                   {{user.sexo}}
                   <br>
                   <label class="font-weight-bold">Tipo de Sangre:</label>
                   {{user.tipo_sangre}}
                  <div class="card-footer text-center">
                      <button href="#" class="btn btn-block btn-primary mb-1" (click)="linkCompartir(user.id)">Compartir</button>
                      <button href="#" class="btn btn-block btn-primary " (click)="linkEditar(user.id)">Editar</button>

                  </div>
                </div>
            </div>
    </div>
  </div>
