<div class="tituloBanner">
  <div class="col-lg-12 mx-auto">
    <div class="site-heading">
      <h1>Médico</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-tabs nav-pills">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/usuario/registrar']"
            routerLinkActive="active"
            >Registrar médico</a
          >
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

